
@{
    ViewData["Title"] = "Integridad";
}

<h1>Verinficando errores en la cadena de bloques...</h1>
<br />
<br />

 <h2>    
    @{
        if (Model == true)
        {
        <b> La lista de datos mantienen su integridad</b>
        }
        else
        {
        <b> La lista de datos no mantiene su integridad</b>
        }
    }
    
</h2>


